// Font

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: Poppins;
}

.nav-atas {
  font-size: 14px;
  background-image: url(asset/bg.svg);

  
}